
.dark-mode {
  background-color: #222020;
  color: white;
}

.dark-mode .navbar {
  background-color: #121212;
}

.dark-mode h3, .dark-mode h4 {
  color: lightgray;
}

.dark-mode .presentation {
  background-color: #1E1E1E;
}

.js-projectCard-dark  {
  background-color: #1E1E1E;
  border: 1px solid #333;
  color: #8F2CD1;
}

.js-projectName-dark {
  color: white;
}

.js-projectTechno-dark {
    color: #B896C0;
}

.js-contactIcon-dark {
  stroke: #6C63FF;
  fill: #6C63FF;
}

.js-contactIcon-dark:hover path {
  stroke: #4A43CC;
  fill: #4A43CC;
}

