
/*bar de navigation*/
.navbar {
   font-family: "Just Me Again Down Here";
   font-size: 2rem;
   margin-top: 2rem;
   height: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   background-color: white;
   border-bottom: 1px solid hsl(243, 100%, 69%);
   margin: 0.2rem 0 1rem 0;
   padding: 2rem 0 3rem 0;
   position: sticky;
   top: 0;
   z-index: 1;
}

.navbar__background {
   width: 100%;
   height: 4.2rem;
   background-color: #6C63FF;
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar__name {
   margin-left: 3rem;
   color: white;
   text-decoration: none;
}

.navbar__links {
   margin-left: 5rem;
}

.navbar__settings {
   display: flex;
}

.navbar__selectLanguage, .dark-mode__button {
   cursor: pointer;
   background-color: #6C63FF;
   color: white;
   padding: 0.5rem;
   margin: 1rem;
}

.navbar__dark-mode {
   display: flex;
   align-items: center;
   margin-right: 2rem;   
}

.dark-mode__button {
   align-items: center;
   display: flex;
}

.dark-mode__radio {
   cursor: pointer;
   appearance: none;
   border-radius: 50%;
   width: 1.2rem;
   height: 1.2rem;
   border: 1px solid #4A43CC;
}

.dark-mode__radio:checked {
   appearance: none;
   background-color: white;
}

.navbar__link {
   color: white;
   text-decoration: none;
   margin-right: 1rem;
}

.navbar__link:hover {
   text-decoration: underline;
}

.burger {
   display: none;
   flex-direction: column;
   cursor: pointer;
   margin-right: 2rem;
   position: absolulte;
   top: 0;
   right: 0;
   height: 2.5rem;
   width: 2.5rem;
   padding-top: 0.2rem;
}

.burger__line {
   width: 2rem;
   height: 3px;
   background-color: white;
   margin: 4px auto;
}

@media screen and (max-width: 946px) {
   .nav, .navbar__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
      background-color:  #6C63FF;
   }

   .js-navItems-hidden { 
      display: none;
   }

   .navbar__links, .navbar__name {
      margin-left: 0;
   }
   .burger {
      display: flex;
      position: absolute;
      top: 0;
      right: -20px;   
      margin-top: 2rem;
   }
}

/*partie main*/
main {
   font-family: quicksand-300, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 1rem auto 1rem auto;
   padding: 2rem 3rem;
   max-width: 100%;
}

@media screen and (min-width: 1200px) {
   main {
      max-width: 80%;
      margin: auto;
   }   
}

@media screen and (max-width: 450px) {
   main {
      padding: 0;
   }   
}

section {
   width: 100%;
   margin:3rem;
}

@media screen and (max-width: 900px) {
   section {
      margin: 1rem;
      max-width: 90vw;
   }
}

.presentation  {
   display: flex;
   flex-direction: column;
   align-items: space-between;
   justify-content: center;
}

.presentation__1, .presentation__2, .strengths {
   display: flex;
   flex-direction: row;
   align-items: center;
}

@media screen and (max-width: 600px) {
   .presentation__1, .presentation__2, .strengths {
      flex-direction: column;
      width: 100%;
      justify-content: center;
   }

   .presentation__2 {
      flex-direction: column-reverse;
   }

   .presentation__text, .strengths__text, .projects__text, .contact__text {
      min-width: 100%;
   }
}

.presentation__image {
   max-width: 50%;
}

.presentation__text {
   max-width: 50%;
}

.strengths__text {
   max-width: 70%;
}

.presentation__text, .projects__text, .contact__text, .strengths__text  {
   font-size: clamp(1rem, 2vw, 1.5rem);
}

.presentation__3 {
   min-width: 95%;
   text-align: center;
}

.strengths {
   display: flex;
   flex-direction: raw;
   align-items: center;
}

.strengths__image {
   max-width: 30%;
   align-self:first center;
   margin-left: 2rem;
}

.contact {
   padding-bottom: 5rem;
}

.contact__text {
  font-size: 1.2rem;
  margin: 1rem auto;
}

.contact__methods {
   display: flex;
   max-width: 50%;
}

.contact__link {
   display: flex;
}

   .contact__link:hover {
      animation: shake 0.5s;
      animation-iteration-count: 1;
   }

svg {
   height: 6rem;
   margin: 2rem;
}

.js-contactIcon-light {
   fill: #1E1D26;
   stroke: #1E1D26;
} 

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

