.justify {
    text-align: justify;
}

/*polices*/
.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.quicksand-300 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-700 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}


/*Titres*/
h1, h2, h3, h4 {
  margin-bottom: 0.5rem;
  text-align: center;
}

h4 {
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  background: linear-gradient(-90deg, #6C63FF, #8F2CD1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.5rem;
  color: hsl(245, 17%, 29%)
}

h3 {
  font-size: 2rem;
  color: #4A43CC;
  margin-bottom: 1.2rem;
  font-weight: bolder;
}

h4 {
  color: hsl(245, 17%, 29%);  
  font-size: 1.5rem;
}

/*couleurs*/
.bg-primary {
  background-color: hsl(243, 100%, 69%);
}

.border-smoky-gray {
  border-left: 2px solid #5f5f69;
  border-top: 2px solid #5f5f69;
  border-right: 2px solid #8f8f9d;
  border-bottom: 2px solid #8f8f9d;
  border-radius: 10px;
}

.color-gradient {
  background: linear-gradient(-90deg, #6C63FF, #8F2CD1);
}

