.justify {
    text-align: justify;
}

/*polices*/
.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.quicksand-300 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-700 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/*Titres*/
h1, h2, h3, h4 {
  margin-bottom: 0.5rem;

}

h4 {
  margin-bottom: 2rem;
}

h1, h2 {
  color: hsl(276, 65%, 50%);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3, h4 {
  color: hsl(245, 17%, 29%);  
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

/*couleurs*/
.bg-primary {
  background-color: hsl(243, 100%, 69%);
}

.border-smoky-gray {
  border-left: 2px solid #5f5f69;
  border-top: 2px solid #5f5f69;
  border-right: 2px solid #8f8f9d;
  border-bottom: 2px solid #8f8f9d;
  border-radius: 10px;
}

